*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/freelance-2.jpg');
  background-size: cover;
  background-position: center center;
  color:  black; /* Beige */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
  padding: 50px;
  font-family: Arial, sans-serif;
}
.logo {
  width: 200px;
  height: auto;
}
.App {
  text-align: center;
}
.btn {
  background-color: #e1d33d; /* Jaune */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: hsl(55, 63%, 43%); /* Jaune foncé */
}
.title {
   font-size:4rem;
   font-weight: bold;
   margin-top: auto;
   padding-left: 900px;
   color: rgba(0, 0, 0, 0.788);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   transition: color 0.3s ease;
   text-decoration: none;
   text-decoration-thickness: 2px;
   text-decoration-color: #dbcd34;
}
.subtitle { 
   font-size:3rem;
   font-weight: bold;
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.753);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text {
   font-size:2rem;
   font-weight: bold;
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.642);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


